@import "tailwindcss";

@theme {
  --color-neutral: #E2E8F0;
  --color-neutral-background: #F8FAFC;
  --color-input: #F8FAFC;
  --color-input-text: #94A3B8;
  --color-new: #22C55E;
  --color-interview: #14B8A6;
  --color-hired: #3B82F6;
  --color-ban: #ED6F6F;
  --color-primary: #1F2D52;
  --color-font-purple: #6C63FF;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-neutral-background);
}

.border-neutral {
  border-color: var(--color-neutral);
}

.border-new {
  border-color: var(--color-new);
}

.border-interview {
  border-color: var(--color-interview);
}

.border-hired {
  border-color: var(--color-hired);
}

.border-ban {
  border-color: var(--color-ban);
}

.bg-new {
  background-color: var(--color-new);
}

.bg-interview {
  background-color: var(--color-interview);
}

.bg-hired {
  background-color: var(--color-hired);
}

.bg-ban {
  background-color: var(--color-ban);
}

.color-neutral {
  color: var(--color-neutral);
}

.color-purple {
  color: var(--color-font-purple);
}

.scroll-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral);
  border-radius: 6px;
  border: none;
  margin: 4px;
}

